[MODE]
mode = {"register":'all',
        "login":'all',
        "recharge":'all',
        "invest":'all'}

[DB]
db_config = {'host': 'test.lemonban.com',
             'port': 3306,
             'user': 'future',
             'password': '123456',
             'database': 'futureloan'}

[CHECKLEAVEAMOUNT]
check_list = ['recharge', 'invest', 'withdraw']